/* TAG SELECTORS */

h1{
  color: red;
  font-size: 50px;

}

/* CLASS SELECTORS */
img:hover{
  background-color: gold;
}
.bacon {
  background-color: green;
}

.broccoli {
  background-color: blue;
}

/* id selector- used only once for a particular class */
#heading {
  color: blue;
}

.circular { 
  border-radius: 100px;
}
